@media (max-width: 1156px){
	.services_item{
		max-width: 80%;
		max-height: 330px;
		margin: 30px auto;	
	}
	.services_items{
		display: block;
	}
	.form_inner{
		background-image: none;
	}
	.news_inner{
		display: block;
	}
	.news_slider{
		max-width: 100%; 
		margin-bottom: 90px;
	}
	.news_slider .slick-btn{
		top: 310px;
	}
	.news_blog{
		max-width: 100%;
		display: block;
		margin: 30px;
	}
	.news_blog:after{
		content: "";
		clear: both;
		display: block;
	}
	.news_images{
		float: left;
		margin-right: 50px;
	}
	.news{
		padding-bottom: 60px;
	}
	.footer__info{
		max-width: 465px;
		margin-bottom: 25px;
	}
}
@media (max-width: 1050px){
	.footer__inner{
		display: block;
	}
	.footer__map iframe{
		/*display: flex;
		justify-content: center;*/
		width: 100%;
	}
}
@media (max-width: 900px){
	.slider .slick-btn{
		display: none !important;
	}
	.services-top,
	.news_top{
		display: block;
	}
	.services_title-box,
	.form_title-box,
	.news_title-box{
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;
	}
	.services_title-box:before,
	.form_title-box:before,
	.news_title-box:before{
		display: none;
	}
	.services_btn,
	.news_btn{
		text-align: center;
	}
	.form_box-inner{
		display: block;
	}
	.form_box-left{
	max-width: 100%;
	}
	.form_box-right{
	max-width: 100%;
	}
	.form_box-inner .jq-selectbox__select{
		margin-bottom: 10px;
	}
	.form{
		padding-bottom: 25px;
	}
	.news-top{
		display: block;
		text-align: center;
	}


@media (max-width: 700px) {
	.header_btn{
		display: inline-block;
	}
	.header_contacts{
		text-align: center;
	}
	.header_btn-menu{
		display: block;
	}
	.menu ul{
		margin-top: 20px;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 50;
	}
	.menu li{
		display: block;
		text-align: center;
	}
	.menu a{
		display: block;
		background-color: #ffc222;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.menu li + li {
		padding-left: 0;
	}
	.advantages_inner{
		display: block;
	}
	.advantages-item{
		max-width: 100%;
		margin-bottom: 30px;
	}
	.news_slider .slick-btn{
		top: 350px;
	}


}
@media (max-width: 600px){
	.services_item{
		max-width: 100%;
		max-height: 375px;
		margin: 30px auto;	
	}
	.news_slider .slick-btn{
		top: 360px;
	}
}
@media (max-width: 581px){
	.news_slider .slick-btn{
		top: 380px;
	}
}
@media (max-width: 540px){
	.news_slider{
		padding: 50px 0 25px 25px;
	}
	.news_images{
		float: none;
	}
}
@media (max-width: 414px){
	.slider_title{
		font-size: 24px;
	}
	.slider_text{
		font-size: 16px;
	}
}
@media (max-width: 400px) {
	.header_btn:before{
		display: block;
	}
	.advantages-item{
		padding: 0;
	}
}
@media (max-width: 382px) {
	.header_email{
		padding-right: 30px;
	}
	.news_slider .slick-btn{
		top: 410px;
	}
}
@media (max-width: 360px){
	.news_slider .slick-btn{
		top: 420px;
	}
}
@media (max-width: 320px) {
	.news_slider .slick-btn{
		top: 450px;
	}
}
@media (max-width: 643px) {
	.header_btn{
		float: none;
		/*display: flex;
		/*justify-content: center;*/
	}}
@media (min-width: 700px){
	.menu ul{
		display: block !important;
	}
}